/*search.css*/

html{
    height: 100%;
}

body {
    margin: 0 auto;
    padding: 0 auto;
    min-width: 800px;
    /*text-align: center;*/
    height: 100%;
    font: 12px arial;
    position: relative;
}

.menu-container {
    z-index: 2;
    color: #fff;
    position: absolute;
    right: 0;
    top: 0;
    margin: 19px 0 5px;
    padding: 0 96px 0 0;
}

.menu-item-ul a {
    float: left;
    color: #333;
    font-weight: 700;
    line-height: 24px;
    margin-left: 20px;
    font-size: 13px;
    text-decoration: underline;
}

.menu-item-ul a:nth-child(7){
	font-weight: normal;
}

.menu-item-ul a:nth-child(8){
	font-weight: normal;
}

.menu-item-ul a:last-child{
	position: absolute;
	right: 10px;
	width: 60px;
	height: 23px;
	float: left;
	color: #fff;
	background: #38f;
	line-height: 24px;
	font-size: 13px;
	text-align: center;
	overflow: hidden;
	border-bottom: 1px solid #38f;
	margin-left: 19px;
	margin-right: 2px;
	text-decoration: none;
  font-weight: normal;
}

.menu-sidebar-container{
	display: block;
	text-align: center;
	width: 66px;
	height: 76px;
	margin: 0 auto;
	border-bottom: #f0f0f0 1px solid;
	color: #666;
	text-decoration: none;
	/*overflow: hidden;*/

  width: 85px;
  min-height: 100px;
  border-left: 1px solid #e7e7e7;
  position: absolute;
  background-color: #f9f9f9;
  /*overflow: hidden;*/
  z-index: 10;
  right: 0;
  top: 0;

  display: none;
}

.menu-sidebar-container a {
    display: block;
    text-align: center;
    width: 66px;
    height: 76px;
    margin: 0 auto;
    border-bottom: #f0f0f0 1px solid;
    color: #666;
    text-decoration: none;
    overflow: hidden;
}


#more {
    color: #333;
    text-align: center;
    width: 66px;
    height: 43px;
    line-height: 45px;
    padding-top: 9px;
    margin: 0 auto;
    border-bottom: #f0f0f0 1px solid;
    font-size: 13px;
    cursor: default;
}


.menu-sidebar-item {
    width: 36px;
    height: 36px;
    display: block;
    margin: 10px auto 5px;
    background: url(https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/home/img/logos/bdbri_icons_0a62ce1.png) no-repeat;
    cursor: pointer;
}

.menu-sidebar-item:nth-child(1){
	width: 40px;
    background-position: -72px 0;
}

.menu-sidebar-item:nth-child(2){
	background-position: -112px 0;
}

.menu-sidebar-item:nth-child(3){
	    background-position: -36px 0;
}

.menu-sidebar-item:nth-child(4){
	background-position: -148px 0;
}

.menu-sidebar-item:nth-child(5){
	background-position: -184px 0;
}


.main-container{
    position: absolute;
    top: 20vh;
    width: 100%;
}

.banner{
	/*min-width: 650px;*/
	text-align: center;
	/*padding-bottom: 100px;*/
}

.banner-img{
	width: 270px;
	height: 129px;
	border: 0;
	padding-bottom: 30px;
}

.search {
   /* margin: 0 auto;*/
    /*text-align: center;*/
   /* border: 1px solid #b6b6b6;
    border-color: #999 transparent #b3b3b3 #999;
    background: #fff;*/
    /*display: inline-block;*/
    /*vertical-align: top;
    margin-right: 0;
    border-right-width: 0;
    border-color: #b8b8b8 transparent #ccc #b8b8b8;
    overflow: hidden;
    width: 650px;
    margin: 0 auto;*/
    /*margin-top: 30%;*/
    position: relative;
    text-align: center;
}



.search-span {
    position: relative;
    border: 1px solid #b6b6b6;
    border-color: #7b7b7b #b6b6b6 #b6b6b6 #7b7b7b;
    background: #fff;
    display: inline-block;
    vertical-align: top;
    width: 539px;
    margin-right: 0;
    border-right-width: 0;
    border-color: #b8b8b8 transparent #ccc #b8b8b8;
    overflow: hidden;
    height: 34px;
}

.search-hover{
    border-color: #7b7b7b #b6b6b6 #b6b6b6 #7b7b7b;
}

.search-focus{
    border-color: #4791ff transparent #4791ff #4791ff;
}


.search-soutu {
    z-index: 1;
    position: absolute;
    right: 11px;
    top: 50%;
    margin-top: -8px;
    height: 16px;
    width: 18px;
    background: #fff url(https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/soutu/img/camera_new_5606e8f.png) no-repeat;
    background-image: -webkit-image-set(url(https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/soutu/img/camera_new_5606e8f.png) 1x, url(https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/soutu/img/camera_new_x2_fb6c085.png) 2x);
    background-image: -moz-image-set(url(https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/soutu/img/camera_new_5606e8f.png) 1x, url(https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/soutu/img/camera_new_x2_fb6c085.png) 2x);
    background-image: -o-image-set(url(https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/soutu/img/camera_new_5606e8f.png) 1x, url(https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/soutu/img/camera_new_x2_fb6c085.png) 2x);
    background-image: -ms-image-set(url(https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/soutu/img/camera_new_5606e8f.png) 1x, url(https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/soutu/img/camera_new_x2_fb6c085.png) 2x);
    cursor: pointer;
}

.search-soutu:hover{
    background-position: 0 -20px;
}

.search-input {
    width: 543px;
    border: none;
    height: 22px;
    font: 16px/18px arial;
    line-height: 22px\9;
    margin: 6px 0 0 7px;
    padding: 0;
    background: transparent;
    border: 0;
    outline: 0;
    -webkit-appearance: none;
}

.search-btn {
    border: none;
    width: 100px;
    height: 36px;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    background: #3385ff;
    border-bottom: 1px solid #2d78f4;
    outline: medium;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

.search-btn:hover{
	 background: #317ef3;
	 border-bottom: 1px solid #2868c8;
	 box-shadow: 1px 1px 1px #ccc
}
